<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.storytailor.central.user.mapper.UserMapper">
  <insert id="insertUser" parameterType="io.storytailor.central.user.vo.UserVO"
    useGeneratedKeys="true"
    keyProperty="id" keyColumn="id"> INSERT INTO "user" (name, email, created_at) VALUES (#{userVO.account.name}, #{userVO.account.email}, now()) </insert>

  <select id="selectUser" parameterType="io.storytailor.central.user.vo.UserVO" resultType="io.storytailor.central.user.vo.AccountVO"> SELECT
    name, email FROM "user" WHERE name = #{userVO.account.name} AND email = #{userVO.account.email} </select>
  <update id="updateToken" parameterType="io.storytailor.central.user.vo.UserVO" >
    UPDATE "user" SET 
    access_token = #{userVO.accessToken}, 
    refresh_token = #{userVO.refreshToken},
    expires_in = #{userVO.accessExpire},
    refresh_token_expires_in = #{userVO.refreshExpire} 
    WHERE name = #{userVO.account.name} AND email = #{userVO.account.email}
  </update>
</mapper> 