<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.storytailor.central.story.mapper.StoryMapper">
  <resultMap id="StoryVO" type="io.storytailor.central.story.vo.StoryVO">
    <result property="id" column="pipeline_id" />
  </resultMap>
  <delete id="deleteStory"> DELETE FROM story WHERE story_id = #{story_id} </delete>
</mapper> 